html body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
}
    
#sidenav.active {
            left: 0px;
        }
    
#sidenav {
    padding: 0;
    margin: 0;
    top: 0;    
    position: fixed;
    width: 200px;
    height: 100%;
    left: -200px;
    transition: all 500ms linear;
    background: pink;
        
        
    .toggle-btn {
        position: absolute;
        left: 220px;
        top: 20px;
    }

    ul {
        position: relative;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid black;
            list-style: none;
            padding: 20px;
            margin: 0;
        }
    }
}

    
#homepage {
    
    .background {
        position: relative;
        padding: 0;
        height: 150px;
        background: papayawhip;
        z-index: -1;
        top: 0;
        .title {
            position: relative;
            text-align: center;
            top: 20px;
            h1 {
                margin: 0;
            }
        }
        .navbar {
            position: absolute;
            width: 100%;
            bottom: 0;
            margin-bottom: 0;
            background: inherit;
            border: unset;
            z-index: 10;
        }
    }
    
        
    .pixel-car {
        position: relative;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .form {
        
        div {
            display: block;
            width: 300px;
            margin: 0px auto;
            p {
                margin: 20px 0 10px;
            }
            input:focus {
                outline: #a6a49f dotted 3px;
                outline-offset: 3px;
            }
            input {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                font-size: 16px;
                padding: 15px;
                border: 2px solid black;
                border-radius: 10px;
            }
        }
        button:focus {
                outline: #a6a49f dotted 3px;
                outline-offset: 3px;
            }
        button {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            margin: 20px 0;
            border: 2px solid black;
            border-radius: 10px;
            background: papayawhip;
            padding: 10px;
            padding-top: 15px;
            font-size: 14px;
        } 
    }
    
    table {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        th {
            text-align: center;
            padding: 10px;
            
        }
        tbody {
            
            tr:nth-of-type(1) {
                border-top: 2px solid black;
                border-radius: 15px;
            }
            td {
                padding: 10px;
                border-bottom: 2px solid black;
            }
        }
    }
}
/* HOMEPAGE.HTML */



