html body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    //dbackground-color: #dedede;
    /* JS Toggle Class */
    #sidenav.active {
        left: 0px;
        z-index: 2;
    }
    #toggle-button.active {
        visibility: hidden;
    } 
    #sidenav {
        position: fixed;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 250px;
        height: 100%;
        left: -250px;
        top: 0;
        transition: all 500ms linear;
        background: #bfd3eb;
        /* #84805d */
        border-right: 2px solid black;
        z-index: 3;
        overflow: hidden;
        #toggle-button {
            position: fixed;
            left: 40px;
            top: 20px;
            cursor: pointer;
            z-index: -1;
            color: black;
        }
        /*.cancel-button {
            position: absolute;
            cursor: pointer;
            top: 20px;
            left: 200px;
        }*/
        ul {
            position: relative;
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 30px;
            .list-item {
                border-bottom: 2px solid black;
                list-style: none;
                padding: 20px;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            li:first-of-type {
                margin-top: 70px;
                border-top: 2px solid black;
            }
        }
        .color-slider {
                position: absolute;
                display: flex;
                width: 100%;
                height: 79px;
                left: 0px;
                top: 2px;
                background: rgba(255, 255, 255, 0.5);
                transition: 500ms ease-in-out;
            }
    }
    #main-page {
        height: 100%;
        width: 100%;
        
        .title {
            position: fixed;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
        }
        .pixel-car img {
            position: fixed;
            left: 50%;
            top: 15%;
            /*Centers item*/
            transform: translateX(-50%);
            height: 150px;
        }
        #question-set {
            position: relative;
            top: 275px;
            display: flex;
            font-size: 18px;
            .car-name {
                //position: inherit;
                flex: 1;
                //top: 60px;
                width: 27.7%;
                height: 100px;
                //left: 65.6%;
                margin: 0 40px;
                background-color: #fdd7b2;
                border: 3px solid black;
                text-align: center;
            }
            .time-span {
                //position: inherit;
                flex: 1;
                //top: 40px;
                width: 27.7%;
                height: 100px;
                //left: 65.6%;
                margin: 0 40px;
                background-color: #fdd7b2;
                border: 3px solid black;
                text-align: center;
            }
                input:focus {
                    outline: none;
                }
                input {
                    position: relative;
                    border: 2px solid black;
                    font-size: 24px;
                    justify-content: center;
                    top: -15px;
                    margin: 10px;
                }
        }
        #questions {
            position: relative;
            top: 300px;
            margin: auto 40px;
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            .gas {
                border: 3px solid black;
                background-color: #fdd7b2;
                /*#bfd3eb*/
                box-sizing: border-box;
                align-content: space-between;
                width: 30%;
                /* applies to all children */
                height: 200px;    
            }
            .insurance {
                border: 3px solid black;
                background-color: #fdd7b2;
                /*#bfd3eb*/
                box-sizing: border-box;
                align-content: space-between;
                width: 30%;
            }
            .car-payment {
                border: 3px solid black;
                background-color: #fdd7b2;
                /*#bfd3eb*/
                box-sizing: border-box;
                align-content: space-between;
                width: 30%;
            }
            input:focus {
                outline: none;
            }
            input {
                border: 2px solid black;
                position: relative;
                font-size: 24px;
                margin: 20px;
            }
        }
        .submit-button {
            position: relative;
            display: inline-flex;
            top: 325px;
            left: 42%;
            
            button {
                width: 200px;
                height: 50px;
                border: 3px solid black;
                background-color: #fdd7b2;
                font-size: 20px;
            }
        }
    }
    /*PAGE 2*/
    .table {
        position: relative;
        top: 400px;
        left: 47%;
        transform: translateX(-50%);
        width: 60%;
        margin: auto 40px;
        text-align: center;
        border: 2px solid black;
        background-color: #fdd7b2;
        tr th {
            border: 2px solid black;
        }
    }    
    /*ABOUT*/
    .origin {
        position: relative;
        left: 50%;
        top: 100px;
        width: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        p:nth-of-type(2) {
            margin-bottom: 8%;
        }
    }
}